---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}
    
  <tr>
    <td style="text-align:right" colspan="1">
                      
                      <a class="twitter-timeline" data-width="300" data-height="3000" href="https://twitter.com/SilviaCeausu?ref_src=twsrc%5Etfw">Tweets by SilviaCeausu</a>
                      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

     </td>
    </tr>
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
